<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
  <title>ffrf.fr</title>
</head>

<body>
  <header>
    <h1><a href='/'>ffrf.fr</a></h1>
    <p>Short Urls</p>
  </header>
  <main>
    <form action="/url" method='POST' id="form">
      <p>
        <label for="url">Url</label>
        <input type="text" name='url' id='url'>
      </p>
      <p>
        <label for="slug">Slug</label>
        <input type="slug" name='slug' id='slug'>
      </p>
      <input type="submit" value="Create">
    </form>
    <br />
    <h5><%=message%></h5>
    <a href="<%=newUrl%>"><%=newUrl%></a>
  </main>
</body>

</html>