<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="main.css">
  <title>ffrf.fr</title>
</head>

<body>
  <header>

  </header>
  <main>
    <div class="container d-flex justify-content-center ">
      <div class="card d-flex justify-content-center" style="width: 18rem;">
        <div class="card-body">
          <h1 class='card-title'><a href='/'>ffrf.fr</a></h1>
          <p>Short Urls</p>
        </div>
        <form action="/url" method='POST' id="form">
          <p id='url-p'>
            <label for="url">Url</label>
            <input type="text" name='url' id='url' placeholder="Required">
          </p>
          <p>
            <label for="slug">Slug</label>
            <input type="slug" name='slug' id='slug' placeholder="Optional">
          </p>
          <input class='btn' type="submit" value="Create">
        </form>
        <br />
        <% if (message != '') { %>
        <div class="output p-4">
          <h5><%=message%></h5>
          <a href="<%=newUrl%>" id='finUrl'><%=newUrl%></a>
          <button class='btn' onclick="copyToClipboard('#finUrl')">Copy</button>
        </div>
        <% } %>
      </div>
    </div>




  </main>
  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      $("button").html("Copied!");
    }

  </script>
</body>

</html>