*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  color: #1f1f1f;
}

body{
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  background-color: #dbdbdb;
}

header h1{
font-size: 45px;
font-weight: 600;
text-align: center;
}
header p {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

#form{
  text-align: center;
  margin: 0 auto;
}

main{
  text-align: center;
  color: #1f1f1f;
}
a{
  text-decoration: none;
}
button {
  margin: 3px;
  padding: 2px 2px 4px 2px;
}
.container {
  padding: 5px;
}
